html{
    scroll-behavior: smooth;
}
*{
    font-size: 20px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(131, 101, 90);
    display: flex;
    justify-content: space-between;
        align-items: center;

    gap: 20px;
    font-size: 20px;
}
#topp{
    display: flex;
    gap: 30px;
    padding-right: 15px;
}
#topp a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
    font-weight: 500
}
#topp a:hover{
    color: rgb(255, 50, 14);
    transition: all 0.2s ease-in-out;
}
#p{
    font-size: 25px;
}
#name{
    display: flex;
    justify-content: center;
}
#home{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 0px;
}
.pop{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(255, 92, 33, 0.842);
    font-size: 80px;
    font-weight: 700;
}
.pop:hover{
    color: orangered;
    transform: scale(1.18) translateY(-3px);
    transition:all 0.2s ease-in-out;
    position: initial;
}
#para{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
#home1{
    padding-top: 50px;
    padding-bottom: 50px;
}
#about h1{
    font-size: x-large;
    color: rgba(255, 68, 0, 0.842);
}
#about{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.196);
}
#about p{
    font-size: 18px;
}
#skills h1{
    text-align: center;
    font-size: x-large;
    color: rgba(255, 68, 0, 0.842);
}
#skills{
     margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
#skills p{
    text-align: center;
    font-size: 18px;
}
#projects h1{
    text-align: center;
    font-size: x-large;
    color: rgba(255, 68, 0, 0.842);
}
#projects{
     margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
   
}
#projects p{
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
}
#contact h1{
    text-align: center;
    font-size: x-large;
    color: rgba(255, 68, 0, 0.842);
}
#contact{
     margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
.ul1{
    display: flex;
    justify-content: center;
}
#social{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer{
    border-top: 1px solid grey;
    font-size: 15px;
}
.arr{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#side{
    text-align: end;
    margin-right: 50px;
}